	* {
		/* ALL */
	    	font-family: "Roboto", "KFhimaji" !important;
	}
	html,
	body {
		background-color: #F0F1F5;
		background-repeat: repeat;
		height: 100% !important;
		padding: 0;
		margin: 0;
		overflow: hidden;
		-webkit-text-size-adjust:none;
	}
	#container {
		/* CONTAINER */
		border: 5px solid #F8D9D5;
		box-shadow: 0px 1px 2px rgba(0,0,0,.2);
		height: 70%;
		width: 79.5%;
		padding-top: 52px;
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		margin: auto;
		display: flex;
	}
	.form {
		/* SEARCHBAR */
		width: 100%;
		position: absolute;
		top: 0px !important;
		text-align: center !important;
	}
	input {
		background: #25373D;
		border: none;
		color: #FFF;
		font-size: 14pt;
		font-stretch: condensed;
		padding: 13px 0px;
		width: 100%;
		text-align: center;
		transition: .3s ease-in-out !important;
	}
	.buttons {
		/* SWITCH BUTTONS CONTAINER */
		background: #25373D;
		height: 52px;
		width: 85px;
		position: absolute;
		top: 0px;
		right: 0px;
	}
	button {
		/* SWITCH BUTTONS */
		border: none;
		border-radius: 50% !important;
		height: 12px !important;
		width: 12px !important;
		padding: 0px;
		margin-top: 20px;
		margin-right: 8px;
	}
	#first_btn {
		background: #F8D9D5;
	}
	#second_btn {
		background: #D33257;
	}
	#third_btn {
		background: #EB9532;
	}
	.profile {
		/* PROFILE COLUMN */
		background: #282830;
		height: 100%;
		width: 290px;
		overflow: hidden;
	}
	.avatar {
		/* PROFILE COLUMN AVATAR */
		background-position: center 10%;
		background-repeat: no-repeat;
		background-size: 80% auto;
		height: 200px;
		width: 100%;
		margin-top: 11%;
	}
	.user {
		/* PROFILE COLUMN LINK BOX */
		background: transparent;
		color: #E7E7E7;
		font-size: 2em !important;
		font-weight: 900;
		line-height: 60px;
		text-shadow: 3px 3px #953163;
		width: 100%;
		height: inherit;
		text-align: center;
		margin-top: 10%;
	}
	@media only screen and (max-height: 750px) {
		.user { 
			font-size: 1.8em !important;
			line-height: 50px;
			margin-top: 20px;
		}
	}
	@media only screen and (max-height: 680px) {
		.user { 
			font-size: 1.5em !important;
			line-height: 40px;
			margin-top: 10px;
		}
	}
	.user a {
		color: #EBEBEB;
		text-decoration: none;
		transition: all .3s;
	}
	.user a:hover {
		opacity: .6;
		text-decoration: none;
		transition: all .3s;
	}
	#date {
		color: #E5E5E5 !important;
		font-size: 1em !important;
		font-stretch: condensed;
		font-weight: 900 !important;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	.main {
		/* MAIN COLUMN */
		width: 100%;
		height: 100%;
		overflow: hidden;
		white-space: nowrap;
	}
	.column {
		/* MAIN COLUMN ITEM */
		width: 16.7% !important;
		max-width: 16.7% !important;   
		height: 100%;
		display: inline-block;
		margin-right: -4px;
		overflow: hidden
	}
	.column .picture:before {
		/* MAIN COLUMN ITEM ILLUSTRATION */
		content: "";
		height: 100%;
		width: inherit;
		transition: all .7s;
		display: none;
	}
	.picture {
		background-position: center;
		background-size: cover;	
		width: 100%;
		height: 100%;	
		text-align: center;
		transition: all .5s;	
	}
	.column:hover .picture {
		filter: blur(1.2px);
		overflow: hidden;
		transition: all .5s;
		-webkit-backface-visibility: hidden;
			-webkit-transform: translateZ(1px) scale(1.1, 1.1);
	}
	.column:hover .picture:before {
		display: block;
		transition: all .7s;
	}
