.avatar {
	background-image: url("avatar/avatar_theme02.png") !important;
}
.main {
	background: #f41d6a;
}
#picture1:before {
	background: rgba(174,49,94,.5);
}
#picture1 {
	background-image: url("background/theme02/background01.png") !important;
}
#picture2:before {
	background: rgba(59,77,117,.5);
}
#picture2 {
	background-image: url("background/theme02/background02.png") !important;
}
#picture3:before {
	background: rgba(202,107,89,.5);
}
#picture3 {
	background-image: url("background/theme02/background03.png") !important;
}
#picture4:before {
	background: rgba(57,54,73,.5);
}
#picture4 {
	background-image: url("background/theme02/background04.png") !important;
}
#picture5:before {
	background: rgba(183,12,53,.5);
}
#picture5 {
	background-image: url("background/theme02/background05.png") !important;
}
#picture6:before {
	background: rgba(253,155,21,.5);
}
#picture6 {
	background-image: url("background/theme02/background06.png") !important;
}