.avatar {
	background-image: url("avatar/avatar_theme01.png") !important;
}
.main {
	background: #deb9b4;
}
#picture1:before {
	background: rgba(68,102,157,.5);
}
#picture1 {
	background-image: url("background/theme01/background01.png") !important;
}
#picture2:before {
	background: rgba(147,48,35,.5);
}
#picture2 {
	background-image: url("background/theme01/background02.png") !important;
}
#picture3:before {
	background: rgba(140,157,115,.5);
}
#picture3 {
	background-image: url("background/theme01/background03.png") !important;
}
#picture4:before {
	background: rgba(227,156,147,.5);
}
#picture4 {
	background-image: url("background/theme01/background04.png") !important;
}
#picture5:before {
	background: rgba(58,51,58,.5);
}
#picture5 {
	background-image: url("background/theme01/background05.png") !important;
}
#picture6:before {
	background: rgba(227,188,109,.5);
}
#picture6 {
	background-image: url("background/theme01/background06.png") !important;
}