.avatar {
	background-image: url("avatar/avatar_theme03.png") !important;
}
.main {
	background: #746963;
}
#picture1:before {
	background: rgba(116,175,183,.5);
}
#picture1 {
	background-image: url("background/theme03/background01.png") !important;
}
#picture2:before {
	background: rgba(168,62,74,.5);
}
#picture2 {
	background-image: url("background/theme03/background02.png") !important;
}
#picture3:before {
	background: rgba(98,92,92,.5);
}
#picture3 {
	background-image: url("background/theme03/background03.png") !important;
}
#picture4:before {
	background: rgba(228,119, 90, .5);
}
#picture4 {
	background-image: url("background/theme03/background04.png") !important;
}
#picture5:before {
	background: rgba(45,50,58,.5);
}
#picture5 {
	background-image: url("background/theme03/background05.png") !important;
}
#picture6:before {
	background: rgba(167,170,139,.5);
}
#picture6 {
	background-image: url("background/theme03/background06.png") !important;
}